.DS_Store
*.zip
*.tfplan
*.tfplan
*.zip
.DS_Store
Автоматизация и CI-CD/**/.terraform/
Автоматизация и CI-CD/**/ssh_keys/
Автоматизация и CI-CD/**/terraform/hosts.ini
Автоматизация и CI-CD/**/terraform/terraform.tfvars
.DS_Store
*.zip
*.tfplan
Автоматизация и CI-CD/**/.terraform/
Автоматизация и CI-CD/**/ssh_keys/
Автоматизация и CI-CD/**/terraform/hosts.ini
Автоматизация и CI-CD/**/terraform/terraform.tfvars
