---
- name: Create nginxlog exporter user
  user:
    name: nginxlogexp
    system: true
    shell: /usr/sbin/nologin

- name: Download nginxlog exporter archive
  get_url:
    url: "https://github.com/martin-helmich/prometheus-nginxlog-exporter/releases/download/v{{ nginx_log_exporter_version }}/prometheus-nginxlog-exporter_{{ nginx_log_exporter_version }}_linux_amd64.tar.gz"
    dest: /tmp/nginxlog-exporter.tar.gz
    mode: '0644'

- name: Extract nginxlog exporter
  unarchive:
    src: /tmp/nginxlog-exporter.tar.gz
    dest: /usr/local/bin/
    remote_src: true
    creates: /usr/local/bin/prometheus-nginxlog-exporter

- name: Ensure exporter binary permissions
  file:
    path: /usr/local/bin/prometheus-nginxlog-exporter
    owner: nginxlogexp
    group: nginxlogexp
    mode: '0755'

- name: Deploy exporter config
  template:
    src: config.yml.j2
    dest: /etc/prometheus-nginxlog-exporter.yml
    owner: nginxlogexp
    group: nginxlogexp
    mode: '0644'
  notify: Restart nginxlog exporter

- name: Deploy systemd unit
  template:
    src: nginxlog-exporter.service.j2
    dest: /etc/systemd/system/nginxlog-exporter.service
    owner: root
    group: root
    mode: '0644'
  notify: Restart nginxlog exporter

- name: Ensure nginxlog exporter is running
  systemd:
    name: nginxlog-exporter
    state: started
    enabled: true
