[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[server]
http_port = 3000
protocol = http

[auth]
disable_login_form = false

[paths]
provisioning = /etc/grafana/provisioning
