apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    isDefault: true
    url: http://{{ hostvars['prometheus']['ansible_host'] | default('prometheus') }}:9090
    editable: true
