cluster.name: diploma-logs
node.name: elasticsearch
node.roles: [ data, ingest, master ]
path.data: /usr/share/elasticsearch/data
network.host: 0.0.0.0
http.port: 9200
discovery.type: single-node
xpack.security.enabled: false
